.project-manager-title {
    text-align: center;
}

.project-list-item {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 95%;
    border: 1px solid #000;
    font-size: 30px;
    text-decoration: none;
    color: #000;
}

.new-project-add {
    display: block;
    width: 200px;
    height: 30px;
    margin: 10px auto;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
}

.new-project-form {
    height: 130px !important;
}