@import './Components/TaskManager/TaskManager.scss';
@import './Components/ProjectManager/ProjectManager.scss';

* { 
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

.wrapper {
  margin: 50px auto;
  width: 1300px;
  height: 800px;
  border: 2px solid black;
  border-radius: 10px;
}

.shadowBack {
  position: fixed;
  z-index: 2;
  background-color: #000;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.85;
  overflow: hidden;
}

.inactive {
  display: none;
  visibility: hidden; 
}